<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>
  <body>
    <p class="title">VUB Lights Control</p>

    <p style='color: red; font-size: 20px;'>
      Logged in as {{ current_user.username }}
    </p>
   
    <p style="display: flex; justify-content: center; margin-top: 200px">
      <a href="{{ url_for('control') }}"
        ><button type="submit" class="button">
          Control
        </button></a
      >
      <a href="{{ url_for('logout') }}"
        ><button
          type="submit"
          class="button"
          style="margin-left: 50px"
        >
          Logout
        </button></a
      >
    </p>

    <p class="message">{% autoescape off %}{{message}}{% endautoescape %}</p>
    <img
      src="../static/Pictures/vub_logo.png"
      style="height=10%; width:10%;  position: absolute;
                      bottom: 0;
                      left: 0;"
    />
  </body>
</html>
