<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>
  <body>
    <p class="title">VUB Lights Control</p>

    <form class='form' method="POST">

      <div class="form-group">
        <input type="text" class="form-control-lg" name='username' id="username" placeholder="username"/>
      </div>

      <div class="form-group">
        <input type="password" class="form-control-lg" name='password' id="password" placeholder="Password">
      </div>

        <button type="submit" class="btn btn-primary btn-lg">Login</button>

    </form>

    <P class='message'>{% autoescape off %}{{message}}{% endautoescape %}</P>
    
    <img
      src="../static/Pictures/vub_logo.png"
      style="height=10%; width:10%;  position: absolute;
                bottom: 0;
                left: 0;"
    />
  </body>
</html>
