<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>
  <body>
    <p class="title" style="margin-bottom: 20px">VUB Lights Control</p>

    <form class='form' method="POST">

      <div class="form-group">
        <input type="text" class="form-control-lg" name='username' id="username" placeholder="username"/>
      </div>

      <div class="form-group">
        <input type="password" class="form-control-lg" name='password' id="password" placeholder="Password">
      </div>

      <div class="form-group">
        <input type="email" class="form-control-lg" name='email' id="email" placeholder="Enter email">
      </div>

      <div class="form-group">
        <select class="form-control form-control-lg" name='department' id='department'>
          <option>Engineering</option>
          <option>Sciences and Bioengineering Sciences</option>
          <option>Medicine and Pharmacy</option>
        </select>
      </div>

      <div class="form-group">
        <select class="form-control form-control-lg" name='role' id='role'>
          <option>Student</option>
          <option>Teacher</option>
          <option>Assistent</option>
          <option>Administrative worker</option>
        </select>
      </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>


      
    </form>

    <P class='message'>{% autoescape off %}{{message}}{% endautoescape %}</P>

    <img
      src="../static/Pictures/vub_logo.png"
      style="height=10%; width:10%;  position: absolute;
                bottom: 0;
                left: 0;"
    />
  </body>
</html>
