html{
  height:99%; /* Give a default height so you can reference off it*/
}
body {
  background-image: url("../Pictures/front_page.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 99%;
}
.title {
  height: 110px;
  margin-top: 15px;

  background-color: rgba(204, 204, 204, 0.8);
  background-size: cover;
  border-radius: 15px;
  
  font-size: 75px;
  color: whitesmoke;
  
  text-align: center;
  
}
.message {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: red;
  font-size: 36px;
}

.button {
  background-color: rgba(116, 109, 109, 0.8); /* Green */
  width: 300px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 72px;
}

.form-group{
  width:60%;
}
.form-control-lg{
  width: 100%;
  margin-bottom: 20px;

}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.sliders_box{
  width: 80%;
  height: 75%;
  margin-left:10%;
  background-color: rgba(116, 109, 109, 0.8);

}
.form-range.slider {
  width: 25%;
  margin-left: 5%;
}
.values {
  display:inline-block;
  width: 50px; /* Required to prevent next values to jump around */
  margin-left: 25.5%;
  margin-top: 2.5%;
  color:aliceblue;
}

